<footer class="page-footer font-small fixed-bottom bg-light pt-4">
  <div class="container-fluid text-center text-md-left pl-5">
    <div class="row">
      <div class="col-md-4 mt-md-0 mt-3">
        <h5>Footer Content</h5>
        <p>Here you can use rows and columns to organize your footer content.</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3 hideBlock">
      <div class="col-md-4 mt-md-0 mb-3 hideBlock"></div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-4 mt-md-0 mb-3">
        <h5>Follow me!</h5>
        <ul class="list-unstyled">
          <li class="footer-list">
            <i class="fa fa-github icon" aria-hidden="true"></i><a class="center-link" href="https://github.com/patone-anthony" target="_blank">Github</a>
          </li>
          <li class="footer-list">
            <i class="fa fa-user-circle icon" aria-hidden="true"></i><a class="center-link" href="https://www.anthony-patone.com/" target="_blank">Personal Website </a>
          </li>
          <li class="footer-list">
            <i class="fa fa-linkedin icon" aria-hidden="true"></i><a class="center-link" href="https://www.linkedin.com/in/anthony-patone-227aab48/" target="_blank">LinkedIn </a>
          </li>
          <li class="footer-list">
            <i class="fa fa-instagram icon" aria-hidden="true"></i><a class="center-link" href="https://www.instagram.com/apatone/" target="_blank">Instagram</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright
  </div>
</footer>