<div class="new-post-container my-3">
    <a href="/posts/new" class="btn nav-btn">Create a New Post</a>
</div>
<div class="flex-post p-1">
    {{#each posts}}
    <div class="card">
        {{!-- <img class="card-img-top" src="..."> --}}
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">By {{../user.username}}</p>
            <a href="posts/detail/{{_id}}" class="btn btn-primary">Read More</a>
            <a href="edit/{{_id}}" class="btn btn-secondary m-2">Edit/Delete</a>
        </div>
    </div>
    {{/each}}
    <i class="card-holder" aria-hidden='true'></i>
    <i class="card-holder" aria-hidden='true'></i>
</div>